body {
    background-color: #ffffff;
}
    
.principal{
    background: #CCCCCC;
    padding: 30px;
}

#foto1 {
    width: 100%;
    }


p { text-align: justify

}

h2 {
    text-align: center;
}

strong {
    color: rgb(238, 20, 67);
}

.itens {
    font-style: italic
    
}

nav {
    position: absolute;
    bottom: auto;
    top: 38%;
    right: 10%;
    margin-left: 45%;
    font-size: 30px; font-family: monospace;
    }


ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemmapa {width: 50% 

}