body {
    background-color: #ffffff;
}
    
.principal{
    background: #f86c41;
    padding: 30px;
}

#foto1 {
    width: 100%;
    }


p { text-align: justify

}

h2 {
    text-align: center;
}

nav {
    position: absolute;
    bottom: auto;
    top: 38%;
    right: 10%;
    margin-left: 45%;
    font-size: 15px; font-family: monospace;
    }

strong {
    color: rgb(238, 20, 67);
}

.itens {
    font-style: monospace 
    
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemmapa {width: 50% 

}h1{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center; 
    text-decoration: double;
    position: relative; 
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
    border: solid;  #0f1942;
    padding: 2%;
    background-color: #FFE4E1;
   
}

principal{
	
    font-size: 40px;
    text-align: center;
    margin: 8%;
    border: 2px solid #0f1942;
    padding: 30px;
    border-radius: 40px 20px;
    background-color: #ff6600;
    font-family: 'Fredericka the Great', cursive;
    color: #e09421;
  }
